<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="nav w-[100%] h-[10%] bg-black-600 flex justify-between ">
     <h3>hello </h3>
     <h3> bhaiyyo</h3>
     <h3>behno</h3>
    </div>